
.control_icon {
	cursor: pointer;
	margin: 3px;
}

.kernel {
	border: solid #CCCCCC 1px;
	padding: 5px;
	width: 400px;
}

.kernel_icon {
	/*
	height: 50px;
	width: 75px;
	*/
}

.kernel_file {
	cursor: pointer;
	float: left;
	font-family: Arial;
	font-size: 11px;
	height: 90px;
	overflow: hidden;
	padding: 5px;
	text-align: center;
	width: 75px;
}

iframe.kernel {
	border-width: 0px;
	overflow: hidden;
}

.inline {
	float: left;
}
